body {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Saira Condensed", sans-serif;
  border: 1px solid red;
  height: 99.7vh;
  justify-content: center;
  align-items: center;
}
.container {
  /* width: 50%; */
  /* height: 70%; */
  flex-direction: column;
  padding: 1%;
}
.container,
/* .display_box, */
.input_box {
  border: 1px solid black;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.list > li {
  padding: 2%;
}
body,
.container,
.input_box {
  display: flex;
}
.display_box {
  height: 90%;
  overflow-y: scroll;
}
.display_box::-webkit-scrollbar {
  display: none;
}
.input_box {
  height: 10%;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
    height: 70%;
  }
  .input {
    width: 80%;
    padding-left: 5%;
  }
  .button {
    width: 15%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    height: 90%;
  }
  .input {
    width: 70%;
    padding-left: 5%;
  }
  .button {
    width: 25%;
    font-size: 1rem;
  }
}

.input,
.button {
  border: none;
}
.input_box,
.input,
.button {
  border-radius: 25px;
}
.input:focus {
  outline: none;
}

.text_first {
  background-color: gray;
}
.text_second {
  background-color: white;
}
.user_joined {
  background-color: green;
}

.user_left {
  background-color: red;
}
