body {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Saira Condensed", sans-serif;
  border: 1px solid red;
  height: 99.7vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  flex-direction: column;
  padding: 1%;
}
/* .container, */
.display_box,
.input_box {
  border: 1px solid #e9e5e5;
}

.head {
  margin: 0%;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.list > li {
  padding: 2%;
}
body,
.container,
.input_box {
  display: flex;
}
.display_box {
  height: 90%;
  overflow-y: scroll;
}
.display_box::-webkit-scrollbar {
  display: none;
}
.input_box {
  height: 10%;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
    height: 70%;
  }
  .input {
    width: 80%;
    padding-left: 5%;
  }
  .button {
    width: 15%;
  }

  .text_first,
  .text_second,
  .user_left,
  .user_joined {
    font-weight: bold;
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    height: 90%;
  }
  .input {
    width: 70%;
    padding-left: 5%;
  }
  .button {
    width: 25%;
    font-size: 1rem;
  }
  .text_first,
  .text_second,
  .user_left,
  .user_joined {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.input,
.button {
  border: none;
}
.input_box,
.input,
.button,
.display_box {
  border-radius: 25px;
}
.input:focus,
.button:focus {
  outline: none;
}

.text_first {
  background-color: #d3e4cd;
}
.text_second {
  background-color: #99a799;
}
.user_joined {
  background-color: #064635;
}

.user_left {
  background-color: #781d42;
}
.user_joined,
.user_left {
  color: white;
}

.display_box {
  margin-bottom: 2%;
}

.display_box,
.input_box {
  box-shadow: 10px 10px 8px #888888;
}
